/* Stacks Global Styles */

footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

footer p {
    margin-bottom: 0;
    color: #777;
}

div.outline {
    text-align: center;
    margin-top: 20px;
}

div.outline li {
    font-size: 140%;
    margin-bottom: 4px;
}
